<div>
  <main>
  <div class="cover">
    <h1>AIU Vaporwaved</h1>
  </div>
  </main>
    <div class="description">
      <h1>Welcome to AIU Vaporwaved</h1>
      <p>This is not an official school website of AIU. Yet, this is made to help those who are new to campus on many things. AIU Vaporwaved offers the content tailored for people who ended up living in Akita. Welcome to the middle of nowhere!</p>
    </div>



<div class="text-center">
  
<form action="<%= posts_path %>" method="get" class="form-inline">
  <input class="form-control" type="text" name="s_title" value="<%= request[:s_title] %>"><p></p>
  <button class="btn btn-default" type="submit" style=color:grey;>Search</button>
</form>

</div>

    <div class="row">
  <div class="rightcolumn">
    <div class="card">
      <h2>About Me</h2>
      <a href="https://www.instagram.com/koutadabouta/" target="_blank"><%= image_tag("cooldoggo.png", :class => "fakeimg", :alt => "koutadabouta")%></a>
      <p>Hey there! I am Koutadabouta. Check <a href="https://www.instagram.com/koutadabouta/" target="_blank">my Instagram</a> for photos and videos of Japan!</p>
    </div>
    <div class="card">
      <h3>Job Posting</h3>
      <a href="https://connect.appen.com/qrp/public/jobs?uref=0877f167e228a139496d6c0a43bb10c0" target="_blank"><%= image_tag("appenlogo.png", :class => "fakeimg", :alt => "appen")%></a><br>
      <div>
        <p>Work from home with your iPhone or Android device. <a href="https://connect.appen.com/qrp/public/jobs?uref=0877f167e228a139496d6c0a43bb10c0" target="_blank">Get yourself a project</a> with the hourly rate of $19.</p>
      </div>
    </div>
    <div class="card">
      <h3>Current Students</h3>
      <a href="https://aims.aiu.ac.jp/login/index.php" target="_blank">AIMS</a><br>
      <a href="https://csw.aiu.ac.jp/campusweb/campusportal.do" target="_blank">ATOMS</a><br>
      <a href="http://www.citationmachine.net/apa" target="_blank">APA Reference Generator</a><br>
      <h3>My favorite browser game</h3>
      <a href="https://agar.io/index.html" target="_blank">Agar.io</a><br>
      <a href="https://www.sting.co.jp/macho/" target="_blank">Macho De Pon</a><br>
    </div>
  </div>
<% @posts.each do |post| %>
    <div class="leftcolumn">
    <div class="card">
      <h2><%= post.title %></h2>
      <h5><%= post.categories.pluck(:name).join(' / ')%></h5>
      <h6><%= post.created_at.strftime('%b %d, %Y') %></h6>
      <p><%= raw post.body.truncate(200) %></p>
      <p>  <%= link_to "READ MORE", post_path(post) %></p>
      <% if admin_signed_in? %>
        <%= link_to "Show", post_path(post) %> /
        <%= link_to "Edit", edit_post_path(post) %> /
        <%= link_to "Delete", post_path(post), data: {:confirm => "Are you sure?"}, method: :delete %>
      <% end %>
      <hr>
    </div>
    
    </div>
    
    <% end %>
    <div class="text-center">
    <%= paginate @posts %>
    </div>
    
</div>

<div class="sectiontitle">
    <h2>Things to know</h2>
</div>

<section id=description>
          <div>
          <a href="/posts?category=Student">
            <%= image_tag("student2.png", :class => "icon-learn", :alt => "Student life")%>
            </a>
          </div>
          <div>
          <a href="/posts?category=Vacation">
            <%= image_tag("vacation2.png", :class => "icon-learn", :alt => "Vacation")%>
            </a>
          </div>
          <div>
          <a href="/posts?category=Local+Life">
            <%= image_tag("local2.png", :class => "icon-learn", :alt => "Local life")%>
            </a>
          </div>
          <div>
          <a href="/posts?category=Night+Life">
            <%= image_tag("night2.png", :class => "icon-learn", :alt => "Night life")%>
            </a>
          </div>
</section>

    