<!DOCTYPE html>
<html>
<head>

  <meta id="viewport" name="viewport" content="width=device-width" />
  <meta property="og:image" content="https://drive.google.com/uc?export=view&id=1MvYJ6vn4R55vm0Ji68ZU2mgTz0jX7VVC" />
  <meta property="og:image:width" content="300" />
  
  <title>AIU Vaporwaved</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag('https://drive.google.com/uc?export=view&id=1KVb4qcUUab9xSn1mQxkhqPxuMHoNu0wM') %>
<!-- fonts -->    
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Work+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dokdo" rel="stylesheet">
</head>

<body>
  <!-- Render navigation bar -->
  <%= render "layouts/navigation" %>
<%= yield %>
<div class="container-fluid">
<span class="notice"><%= notice %></span>
<span><%= alert %></span>

</div>
    
    


  <footer class="footer-distributed" id="footer">

      <div class="footer-left">
        <div id="target">
        <a href="#top">
          <%= image_tag("https://drive.google.com/uc?export=view&id=1-f49HErddHnXDN3EmO4EokcY8iW9FTtM", :class => "logo", :alt => "logo")%>
        </a>
        </div>
        <p class="footer-links">
          <a href="/">Home</a>
          路
          <a href="/posts?category=Student">Student Life</a>
          路
          <a href="/posts?category=Vacation">Vacation</a>
          路
          <a href="/posts?category=Local+Life">Local Life</a>
          路
          <a href="/posts?category=Night+Life">Night Life</a>
        </p>

        <p class="footer-company-name">AIU Vaporwaved &copy; 2019</p>
      </div>

      <div class="footer-center">

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>Akita International University</span> Akita, Akita</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>080-7817-3501</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:ritchie96more@gmail.com">ritchie96more@gmail.com</a></p>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>About the website</span>
          AIU Vaporwaved offers the content tailored for people who ended up living in Akita.
        </p>

        <div class="footer-icons">

          <a href="https://www.facebook.com/pg/aiuvaporwaved/posts/?ref=page_internal">
            <%= fa_icon("facebook")%>
          </a>
          <a href="#">
            <%= fa_icon("twitter")%>
            </a>
          <a href="https://github.com/geniuskouta">
            <%= fa_icon("github")%>
          </a>

        </div>

      </div>

    </footer>

</body>
</html>
